/* removed default margin and padding from every element */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #202020;
}

/* canvas */
.canvas {
	background-color: white;
	position: fixed;
	z-index: 0;
	left: 50%;
	transform: translate(-50%, calc(-300200px + 100vh));
	width: 100vw;
	max-width: 500px;
}

.speed {
	transform: translateY(0);
	transition: transform linear 1600s;
}

.speed-1x {
	transform: translateY(0);
	transition: transform linear 1400s;
}

.speed-2x {
	transform: translateY(0);
	transition: transform linear 1200s;
}

.speed-3x {
	transform: translateY(0);
	transition: transform linear 1000s;
}

.speed-4x {
	transform: translateY(0);
	transition: transform linear 800s;
}

::-webkit-scrollbar {
	display: none;
}

.rows {
	height: 150px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: rgb(62, 199, 237);
}

.rows-start {
	height: 100px;
}

.white-tiles {
	border: 1px solid whitesmoke;
	background-color: white;
}

.black-tile {
	background-color: black;
	font-family: "Courier New", Courier, monospace;
}

.score {
	position: fixed;
	z-index: 100;
	background-color: whitesmoke;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	min-width: max-content;
}

.score p {
	padding: 0.7rem;
	border: 1px solid black;
	font-weight: bolder;
	font-size: larger;
	font-family: "Courier New", Courier, monospace;
}

/* gameover */

.container {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.gameOver {
	display: none;
	padding-top: 41vh;
	position: absolute;
	z-index: 10;
	height: 100vh;
	width: 100vw;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.431);
	color: rgb(255, 255, 255);
	font-weight: bolder;
	font-size: xx-large;
	font-family: "Courier New", Courier, monospace;
}

.gameOver p {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255) !important;
}

#restart {
	font-size: xx-large;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	color: rgb(255, 255, 255);
	background-color: transparent;
	border: none;
}
