/* removed default margin and padding from every element */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: gray;
}

/* canvas */
.canvas {
	height: 100vh;
	margin: auto;
	background-color: white;
	max-width: 400px;
	overflow-y: scroll;
}

.canvas::-webkit-scrollbar {
	display: none;
}

.rows {
	height: 150px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: yellow;
}

.white-tiles {
	border: 1px solid whitesmoke;
	background-color: white;
}

.black-tile {
	background-color: black;
}

.score {
	text-align: center;
	margin-top:1%;
	margin-left: 45%;
	position: fixed;
	z-index: 10;
}

.score p {
	padding: 4px;
	border: 1px solid;
	border-radius: 16px;
	width: 80%; 
	display: inline;
	background-color: white;
}