/* removed default margin and padding from every element */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #202020;
}

/* canvas */
.canvas {
	height: 100vh;
	margin: auto;
	background-color: white;
	max-width: 450px;
	overflow-y: scroll;
	cursor: pointer;
}

.canvas::-webkit-scrollbar {
	display: none;
}

.rows {
	height: 150px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: rgb(62, 199, 237);
}

.rows-start {
	height: 100px;
}

.white-tiles {
	border: 1px solid whitesmoke;
	background-color: white;
}

.black-tile {
	background-color: black;
}

.score {
	position: fixed;
	z-index: 10;
	background-color: whitesmoke;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
	min-width: max-content;
}

.score p {
	padding: 0.7rem;
	border: 1px solid black;
	font-weight: bolder;
	font-size: larger;
	font-family: "Courier New", Courier, monospace;
}
